<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><?php echo $message['title'] ?></title>
</head>
<body>
<h1><?php echo $message['title'] ?></h1>
<p>Автор: <?php echo $message['author'] ?></p>
<p><?php echo $message['content'] ?></p>

<h2>Комментарии</h2>
<ul>
    <?php foreach ($comments as $comment): ?>
    <li>
        <strong><p>Имя: <?php echo $comment['author'] ?></p></strong>
        <p>Комментарий: <?php echo $comment['content'] ?></p>
    </li>
    <?php endforeach; ?>
</ul>

<h3>Добавить комментарий</h3>
<form action="add_comment.php" method="post">
    <input type="hidden" name="message_id" value="<?php echo $message['id'] ?>">
    <p>
        <label for="author">Ваше имя:</label>
        <input type="text" name="author" id="author">
    </p>
    <p>
        <label for="content">Ваш комментарий:</label>
        <textarea name="content" id="content"></textarea>
    </p>
    <p>
        <input type="submit" value="Добавить">
    </p>
</form>
<a href="index.php">Вернуться к списку сообщений</a>
<a href="edit_message.php?id=<?php echo $message['id'] ?>">Редактировать сообщение</a>
</body>
</html>